.counter {
  width: 600px;
  height: auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: #f4f0fa;
  margin-left: auto;
  margin-right: auto;
}

.value {
  color: #341f97;
  font-size: 3rem;
  font-weight: bold;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  margin: 1rem;
}

.button:last-of-type {
  background-color: #1b1464;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  transform: translateY(2px);
}

.toggle {
  margin-left: auto;
  margin-right: auto;
  background-color: #c0392b !important;
}

/* 
.counter {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
} */

.counter h1 {
  text-transform: uppercase;
  color: #575757;
  margin: 0;
  font-size: 1rem;
}
/* 
.value {
  font-size: 2rem;
  color: #3c0080;
  margin: 2rem 0;
  font-weight: bold;
} */
